<!DOCTYPE HTML>
<div class="container">
	<p></p>
	<h2>{{title}}</h2>

	<h5><a href="/">Go back to the home page</a></h5>
	<p></p>

		<form action="/updateAbility/">
		<fieldset>
			<legend>Add Character/Ability</legend>
			<input type="submit" value="Add">
			<label>Character:</label>
			<select name="characterID" >
			{{#each character}}
				<option name="{{this.first_name}}" value="{{this.id}}">{{this.first_name}}</option>
			{{/each}}
			</select>
			<label>Ability:</label>
			<select name="abilityID">
				{{#each ability}}
				<option name="{{this.type}}" value="{{this.id}}">{{this.type}}</option>
				{{/each}}
			</select>
		</fieldset>
	</form>

	<form action="/deleteCharacterAbility/">
		<fieldset>
			<legend>Delete Character/Ability</legend>
			<input type="submit" value="Delete">
			<label>Character:</label>
			<select name="characterID" >
			{{#each character}}
				<option name="{{this.first_name}}" value="{{this.id}}">{{this.first_name}}</option>
			{{/each}}
			</select>
			<label>Ability:</label>
			<select name="abilityID">
				{{#each ability}}
				<option name="{{this.type}}" value="{{this.id}}">{{this.type}}</option>
				{{/each}}
			</select>
		</fieldset>
	</form>

	<p></p>

	<table class="table is-bordered is-striped is-fullwidth table-striped">
		<thead class="thead-dark"> 
	        <th>Character Name</th> 
	        <th>Ability</th> 
	    </thead> 
	    <tbody> 
	        {{#each results}} 
	        <tr> 
	            <td>{{this.first_name}}</td> 
	            <td>{{this.type}}</td> 
	        </tr> 
	        {{/each}} 
	    </tbody> 
	</table>
</div>