<!DOCTYPE HTML>
<div class="container">
	<p></p>
	<h2>{{title}}</h2>

	<h5><a href="/">Go back to the home page</a></h5>
	<p></p>

	<form action="/updateAllegiance/">
		<fieldset>
			<legend>Add Character/Allegiance</legend>
			<input type="submit" value="Add">
			<label>Character:</label>
			<select name="characterID" >
			{{#each character}}
				<option name="{{this.first_name}}" value="{{this.id}}">{{this.first_name}}</option>
			{{/each}}
			</select>
			<label>Allegiance:</label>
			<select name="allegianceID">
				{{#each allegiance}}
				<option name="{{this.name}}" value="{{this.id}}">{{this.name}}</option>
				{{/each}}
			</select>
		</fieldset>
	</form>

	<form action="/deleteCharacterAllegiance/">
		<fieldset>
			<legend>Delete Character/Allegiance</legend>
			<input type="submit" value="Delete">
			<label>Character:</label>
			<select name="characterID" >
			{{#each character}}
				<option name="{{this.first_name}}" value="{{this.id}}">{{this.first_name}}</option>
			{{/each}}
			</select>
			<label>Allegiance:</label>
			<select name="allegianceID">
				{{#each allegiance}}
				<option name="{{this.name}}" value="{{this.id}}">{{this.name}}</option>
				{{/each}}
			</select>
		</fieldset>
	</form>

	<p></p>

	<table class="table is-bordered is-striped is-fullwidth table-striped">
		<thead class="thead-dark"> 
	        <th>Character Name</th> 
	        <th>Allegiance</th> 
	    </thead> 
	    <tbody> 
	        {{#each results}} 
	        <tr> 
	            <td>{{this.first_name}}</td> 
	            <td>{{this.name}}</td> 
	        </tr> 
	        {{/each}} 
	    </tbody> 
	</table>
</div>
